html, body{
    height: 100%;
    margin: 0;
}

body{
    background-image: url('../img/gplaypattern.png');
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header{
    margin-bottom: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
#header-container{
    width: 960px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-brand{
    padding: 25px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
}
.nav-items>a{
    color: #777777;
    text-decoration: none;
}


#mainContainer{
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    border: 1px solid #dddddd;
    padding: 25px;
    box-sizing: border-box;
}
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
#myFace{
    float: left;
    margin-right: 8px;
}
.wrapper{
    min-height: 100%;
    margin: -25px 0;
}  

footer{
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    height: 50px;
    box-sizing: border-box;
}
.imagewrap{
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
    margin-right:40px;
    margin-bottom: 40px;
}
.imagewrap>img{
    max-width: 100%;
}

.caption{
    background-color: #4aaaa5;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 21;
    transform: translate(-50%, -50%);
    padding: 10px 0;
}


#contact-form>input, #contact-form>textarea{
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
}

#contact-form>textarea{
    min-height: 75px;
}